/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #302f2faf;
  color: #080808;
}

.App {
  text-align: center;
}

/* Navigation */
nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #090909;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #555;
}

/* Home Section */
.home {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(254, 250, 250);
}

.home h1 {
  font-size: 4rem;
  margin: 0;
}

.home p {
  font-size: 1.5rem;
  margin: 0;
}

/* Sections */
.my-work, .about, .contact {
  padding: 50px;
  border-radius: 0%;
}

/* Gallery */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(224, 186, 186, 0.1);
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  padding: 20px;
  max-width: 600px;
  background-color: rgb(65, 64, 64);
  color: rgb(9, 9, 9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Links */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
